.inventory__btn {
    button {
        top: 108px;
        left: -60px;

        &:before {
            left: calc(100% - 74px);
        }

        &:hover, 
        &:focus {
            left: -94px; 
        }
    }
}