.modal {
    z-index: 99;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(4px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &.open {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.hide {
        position: absolute;
        left: -9999px;
        top: -99999px;
    }

    .modal_content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 2px solid #333;
        border-radius: 25px;
        width: 500px;
        height: auto;
        background: $white;

        & > div {
            margin: 0 0 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    label {
        margin-right: 1rem;
    }

    input {
        border: 2px solid #333;
        border-radius: .5rem;
        height: 32px;
        width: 100%;
        max-width: 300px;
    }

    h3 {
        margin-bottom: 2rem;
    }

    .btn-container {
        display: flex;
        justify-content: end !important;
    }
}

.trigger {
    &-close {
        border: 2px solid #333;
        color: #333;
        padding: .5rem;
        width: 40px;
        height: 40px;
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
    }
}