.notes {
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        label {
            //text-decoration: underline;
            margin-bottom: .25rem;
            font-size: 18px;
            font-weight: 700;
        }
        textarea {
            border-radius: 5px;
            border: none;
            height: 100%;
            resize: none;
            background: none;
            width: 100%;
            min-height: 400px;
            border-radius: .5rem;
            border: 2px solid $aca_main_color;
        }
    }
}