body {
    margin: 0;
    font-family: "Roboto", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $aca_main_background;
    font-size: 1rem;
    background: $blue;
    position: relative;
}

*:focus-visible {
    outline: 2px dashed $blue;
    outline-offset: .25rem;
}

p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

h3 {
    text-align: center;
    //text-decoration: underline;
    margin-bottom: .25rem;
}

input[type=radio], input[type=checkbox] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid $aca_main_color;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    &:checked:before {
        position: absolute;
        content: "x";
        font-size: 16px;
        font-weight: 700;
        left: 3.5px;
        bottom: 1px;
    }
} 

.main {
    width: 100%;
    max-width: 794px;
    margin: 0 auto;
    color: $aca_main_color;
    position: relative;
}

.container {
    position: absolute;
    z-index: -2;
    padding: 3rem 0;
    //background: #FFFFFF;
    border-radius: 2rem;
}

.wrapper {
    border: 8px solid $aca_main_color;
    border-radius: 1.5rem;
    background: $aca_main_background;
    height: 100%;
    padding: 24px;
}

.background_aca {
    width: 50%;
    position: absolute;
    top: 100px;
    left: 220px;
    right: 0;
    bottom: 0;
    opacity: .07;
    z-index: -1;
}

.card {
    border: 2px solid $aca_main_color;
    border-radius: .5rem;
    padding: .5rem;
}

.card, .pic {
    margin: .25rem;
}

.grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input_rb_ckb {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}