@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./variables";
@import "./base";

// Layouts 
@import "./layouts/headerPlayer";

// Components
@import "./components/loader";
@import "./components/modal";
@import "./components/confirmModal";
@import "./components/viewToggle";
@import "./components/toast";
@import "./components/header";
@import "./components/inventory";
@import "./components/notes";
@import "./components/bestiaire";
@import "./components/pnj";
@import "./components/info-page";

@import "./sections/globals";
@import "./sections/home";
@import "./sections/identity";
@import "./sections/features";
@import "./sections/stuff";
@import "./sections/state";
@import "./sections/objets";